
  /* body-font-family */
body{
    font-family: 'Poppins', sans-serif;
}
/* navbar-heading-color */
.heading-color{
     color: rgb(59, 2, 2);
}

.slider-image-size{
  height: 450px;
  width: 1440px;

}
/*----------- main section style--------- */
.main-section-card-title{
  color: #231D4F;

}
.icon-color{
  background-color: #d2cff0;
  color: #231D4F;
  border-radius: 8px;
  
}
.card-button-color{
  background: #f496d223;
  color: #371fecdc;

}
.highlight-card-hot-text{

  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 15px;
}
/*--------- accordion section style-------- */
.accordion-section-image{
  Width :580px;
  Height:350px;
  margin: 20px;
  margin-top: 30px;
}
/*-------- footer style -------*/
.footer-own-style{
  height: 180px;
}
.google-apple-icon{
  height: 75;
  width: 155px;

}
.google-apple-icon-size{
  height: 40px;
width: 40px;

}

